[buildout]
always-checkout = force

# Liste um produto por linha; deixar em ordem alfabetica
# Apos um release, esta lista sera apagada

auto-checkout =
    brasil.gov.barra
    brasil.gov.portal
    brasil.gov.temas
    brasil.gov.tiles
    brasil.gov.vcge
    collective.cover
    collective.googleanalytics
    collective.upload
    plone.app.contenttypes
    sc.contentrules.groupbydate
    sc.contentrules.layout
    sc.contentrules.metadata
    sc.embedder

# Test fixes only
