[buildout]
extends =
    buildout.d/base.cfg
    buildout.d/sources.cfg
    checkouts.cfg

parts +=
    checkversions
    createzopecoverage
    i18ndude
    omelette
    flake8
    robot
    test
    test-dependencies

package-extras = [test]
eggs +=
    sauna.reload
#    Products.PDBDebugMode
    Products.PrintingMailHost
    plone.app.robotframework

test-eggs =
zcml +=

extensions += mr.developer

[checkversions]
recipe=zc.recipe.egg
eggs=z3c.checkversions [buildout]

[createzopecoverage]
recipe = createzopecoverage

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[instance]
port-base = 0
debug-mode = on
verbose-security = on
#event-log-level = DEBUG
environment-vars +=
#    CHAMELEON_DEBUG true
zope-conf-additional +=
    http-realm Desenv
#    %import sauna.reload

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[flake8]
recipe = zc.recipe.egg
eggs = flake8

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${buildout:package-name} ${buildout:package-extras}
    ${buildout:test-eggs}

[test-dependencies]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    brasil.gov.barra [test]
    brasil.gov.temas [test]
    brasil.gov.tiles [test]
    brasil.gov.vcge [test]
    collective.cover [test]
    collective.googleanalytics
    collective.nitf [test]
    collective.polls [test]
    collective.upload [test]
    collective.z3cform.widgets [test]
    five.pt
    plone.app.contenttypes [test]
    sc.contentrules.groupbydate [test]
    sc.contentrules.layout [test]
    sc.contentrules.metadata [test]
    sc.embedder [test]
    sc.social.like [test]

[robot]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
    plone.app.robotframework[reload]
