version: "2"
services:
  haproxy:
    image: eeacms/haproxy
    ports:
    - 80:5000
    - 1936:1936
    depends_on:
    - plone
    environment:
      BACKENDS: "plone"
      BACKENDS_PORT: "8080"
      DNS_ENABLED: "True"

  plone:
    image: plonegovbr/plonegovbr
    depends_on:
    - zeoserver
    environment:
    - ZEO_ADDRESS=zeoserver:8100

  zeoserver:
    image: plonegovbr/plonegovbr
    command: zeoserver
    volumes:
    - data:/data

volumes:
  data:
